<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Nguồn học bổng</title>
        <!-- core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="css/animate.min.css" rel="stylesheet">
        <link href="css/owl.carousel.css" rel="stylesheet">
        <link href="css/owl.transitions.css" rel="stylesheet">
        <link href="css/prettyPhoto.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">
        <link href="css/responsive.css" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="images/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
    </head>
    <!--/head-->

    <body id="home" class="homepage">
        <header id="header">
            <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo"></a>
                    </div>
                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="scroll"><a href="#features">Về chúng tôi</a></li>
                            <li class="scroll"><a href="#services">Khám phá học bổng toàn phần</a></li>
                            <li class="scroll"><a href="#portfolio">Bài trắc nghiệm cá nhân</a></li>
                            <li class="scroll"><a href="#about">Các dịch vụ thu phí</a></li>
                        </ul>
                    </div>
                </div>
                <!--/.container-->
            </nav>
            <!--/nav-->
        </header>

        <div class="container">
            <div class="row "  style=" margin-top: 20px;padding: 20px'padding-left:0px;"  >
                <h3 class="column-title">Học bổng Thạc sĩ Tiến sĩ</h3>
            </div>
            <div class="row " style=" border:#ccc 1px solid;padding: 20px"> 
                 
                        <div class="col-md-3">
                            <span class="glyphicon glyphicon-hand-right" style="padding-right: 10px"></span>Thạc sỹ
                        </div>
                        <div class="col-md-3">
                            <span class="glyphicon glyphicon-hand-right" style="padding-right: 10px"></span>Trường Đại học fpt
                        </div>
                        <div class="col-md-3">
                            <span class="glyphicon glyphicon-hand-right" style="padding-right: 10px"></span>Việt nam
                        </div>
                        <div class="col-md-3">
                            <span class="glyphicon glyphicon-hand-right" style="padding-right: 10px"></span>Deadline: 31 Mar 2017
                        </div>
                  
                 
            </div>     
            <div class="row "  style=" margin-top: 20px;padding: 20px" >
                <div class="col-md-2"  >
                     <a class="btn btn-primary" style="  padding: 20px" href="#">Đường link gốc</a>
                </div>
                <div class="col-md-2   col-md-offset-8">
                    <div class="row" style="width:80%;min-height:100px;border:#ccc 1px solid;padding: 20px">
                        <p class="text-center  text-success">Sẽ hết hạn trong 100 ngày</p>
                    </div>
                </div>
            </div>         
                
            <div class="row ">
                <h2>Hello, world!</h2>
                
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
             <div class="row ">
                <h2>Hello, world!</h2>
                
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
             <div class="row ">
                <h2>Hello, world!</h2>
                
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
        </div>
        <!--/.container-->

        <section id="get-in-touch">
            <div class="container">
                <div class="section-header center-block">
                    <h2 class="section-title text-center wow fadeInDown">Học bổng Thạc sĩ - Tiến sĩ</h2>
                    <div class="carousel-content center-block">
                        <h2>Học bổng Thạc sĩ Tiến sĩ</h2>
                        <p>
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="exampleInputAmount">Chọn bậc học </label>
                                <div class="input-group">
                                    <select class="form-control">
                                        <option>Thạc sỹ</option>
                                        <option>Tiến sỹ</option>
                                        <option>Khác</option>
                                    </select>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Tìm học bổng ngay</button>
                        </form>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        &copy; 2014 Your Company. Designed by <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">ShapeBootstrap</a>
                    </div>
                    <div class="col-sm-6">
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!--/#footer-->
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/bootstrap-datepicker.min.js"></script>

        <link href="js/bootstrap-datepicker3.css" rel="stylesheet">
        <script type="text/javascript">

            $(function () {
                $('#datetimepicker1').datepicker({
                    format: 'dd/mm/yyyy',
                    todayHighlight: true,
                    autoclose: true,
                });
                $('#datetimepicker2').datepicker({
                    format: 'dd/mm/yyyy',

                    todayHighlight: true,
                    autoclose: true,
                });
            });
        </script>
    </body>

</html>
