<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Nguồn học bổng</title>
        <!-- core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="css/animate.min.css" rel="stylesheet">
        <link href="css/owl.carousel.css" rel="stylesheet">
        <link href="css/owl.transitions.css" rel="stylesheet">
        <link href="css/prettyPhoto.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">
        <link href="css/responsive.css" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="images/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
    </head>
    <!--/head-->

    <body id="home" class="homepage">
        <header id="header">
            <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo"></a>
                    </div>
                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="scroll"><a href="#features">Về chúng tôi</a></li>
                            <li class="scroll"><a href="#services">Khám phá học bổng toàn phần</a></li>
                            <li class="scroll"><a href="#portfolio">Bài trắc nghiệm cá nhân</a></li>
                            <li class="scroll"><a href="#about">Các dịch vụ thu phí</a></li>
                        </ul>
                    </div>
                </div>
                <!--/.container-->
            </nav>
            <!--/nav-->
        </header>
         
        <!--/#animated-number-->
        <section id="cta" class="wow fadeIn">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="column-title">Học bổng Thạc sĩ Tiến sĩ</h3> Học bổng Thạc sĩ Tiến sĩ là Dự án nhằm cung cấp thông tin Học bổng CẬP NHẬT và MIỄN PHÍ cho các ứng viên người Việt. Đặc biệt, các thông tin Học bổng do Dự án cung cấp đều là các Học bổng TOÀN PHẦN (học phí + sinh hoạt phí) từ các nguồn tin cậy như: các quỹ học bổng nổi tiếng, học bổng chính phủ, website của các trường, các giáo sư, các bạn đang hoặc cựu du học sinh đã tại các nước tiên tiến trên thế giới.
                        </p>
                        <p> Bên cạnh đó, Học bổng Thạc sĩ Tiến sĩ còn tổ chức nhiều hoạt động hỗ trợ nhằm tăng sức cạnh tranh cho hồ sơ ứng viên, cụ thể:</p>
                        <p> 1. Tư vấn MIỄN PHÍ vào sáng thứ 3 hàng tuần (8.30-11.30) </p>
                        <p> 2. Offline MIỄN PHÍ theo chủ đề vào sáng chủ nhật cuối cùng hàng tháng (8.30-10.30) </p>
                        <p> 3. Bài Test tìm nghề phù hợp MIỄN PHÍ </p>
                        <p> 4. Khoá Đào tạo Research Proposal Writing in Social Sciences </p>
                        <p> 5. Khoá Đào tạo Data Analysis in Social Sciences </p>
                        <p> 6. Chương trình tư vấn Full Package cho đến khi trúng học bổng mới thôi</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="get-in-touch">
            <div class="container">
                <div class="section-header center-block">
                    <h2 class="section-title text-center wow fadeInDown">Học bổng Thạc sĩ - Tiến sĩ</h2>
                    <div class="carousel-content center-block">
                        <h2>Học bổng Thạc sĩ Tiến sĩ</h2>
                        <p>
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="exampleInputAmount">Chọn bậc học </label>
                                <div class="input-group">
                                    <select class="form-control">
                                        <option>Thạc sỹ</option>
                                        <option>Tiến sỹ</option>
                                        <option>Khác</option>
                                    </select>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Tìm học bổng ngay</button>
                        </form>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!--/#get-in-touch-->
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        &copy; 2014 Your Company. Designed by <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">ShapeBootstrap</a>
                    </div>
                    <div class="col-sm-6">
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!--/#footer-->
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/mousescroll.js"></script>
        <script src="js/smoothscroll.js"></script>
        <script src="js/jquery.prettyPhoto.js"></script>
        <script src="js/jquery.isotope.min.js"></script>
        <script src="js/jquery.inview.min.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/main.js"></script>
    </body>

</html>
