<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Nguồn học bổng</title>
        <!-- core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="css/animate.min.css" rel="stylesheet">
        <link href="css/owl.carousel.css" rel="stylesheet">
        <link href="css/owl.transitions.css" rel="stylesheet">
        <link href="css/prettyPhoto.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">
        <link href="css/responsive.css" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="images/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
    </head>
    <!--/head-->

    <body id="home" class="homepage">
        <header id="header">
            <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo"></a>
                    </div>
                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="scroll"><a href="chitiettin.html">Về chúng tôi</a></li>
                            <li class="scroll"><a href="khamphahocbong.html">Khám phá học bổng toàn phần</a></li>
                            <li class="scroll"><a href="#portfolio">Bài trắc nghiệm cá nhân</a></li>
                            <li class="scroll"><a href="#about">Các dịch vụ thu phí</a></li>
                        </ul>
                    </div>
                </div>
                <!--/.container-->
            </nav>
            <!--/nav-->
        </header>
        <!--/header-->
        <section id="main-slider">
            <div class="owl-carousel">
                <div class="item" style="background-image: url(images/slider/bg1.jpg);">
                    <div class="slider-inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="carousel-content">
                                        <h2>Học bổng Thạc sĩ Tiến sĩ</h2>
                                        <form class="form-inline">
                                            <div class="form-group">
                                                <label for="exampleInputAmount">Chọn bậc học </label>
                                                <div class="input-group">
                                                    <select class="form-control">
                                                        <option>Thạc sỹ</option>
                                                        <option>Tiến sỹ</option>
                                                        <option>Khác</option>
                                                    </select>

                                                </div>
                                                <div class="input-group">
                                                    <button type="submit" class="btn btn-primary">Tìm học bổng ngay</button>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.item-->
                <div class="item" style="background-image: url(images/slider/bg2.jpg);">
                    <div class="slider-inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="carousel-content">
                                        <h2>Bài test Hollencode</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna incididunt ut labore aliqua. </p>
                                        <a class="btn btn-primary btn-lg" href="#">Test</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.item-->
            </div>
            <!--/.owl-carousel-->
        </section>
        <!--/#main-slider-->
        <section id="cta" class="wow fadeIn">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="column-title">Học bổng Thạc sĩ Tiến sĩ</h3> Học bổng Thạc sĩ Tiến sĩ là Dự án nhằm cung cấp thông tin Học bổng CẬP NHẬT và MIỄN PHÍ cho các ứng viên người Việt. Đặc biệt, các thông tin Học bổng do Dự án cung cấp đều là các Học bổng TOÀN PHẦN (học phí + sinh hoạt phí) từ các nguồn tin cậy như: các quỹ học bổng nổi tiếng, học bổng chính phủ, website của các trường, các giáo sư, các bạn đang hoặc cựu du học sinh đã tại các nước tiên tiến trên thế giới.
                        </p>
                        <p> Bên cạnh đó, Học bổng Thạc sĩ Tiến sĩ còn tổ chức nhiều hoạt động hỗ trợ nhằm tăng sức cạnh tranh cho hồ sơ ứng viên, cụ thể:</p>
                        <p> 1. Tư vấn MIỄN PHÍ vào sáng thứ 3 hàng tuần (8.30-11.30) </p>
                        <p> 2. Offline MIỄN PHÍ theo chủ đề vào sáng chủ nhật cuối cùng hàng tháng (8.30-10.30) </p>
                        <p> 3. Bài Test tìm nghề phù hợp MIỄN PHÍ </p>
                        <p> 4. Khoá Đào tạo Research Proposal Writing in Social Sciences </p>
                        <p> 5. Khoá Đào tạo Data Analysis in Social Sciences </p>
                        <p> 6. Chương trình tư vấn Full Package cho đến khi trúng học bổng mới thôi</p>
                    </div>
                </div>
            </div>
        </section>
        <!--/#cta-->
        <section id="portfolio">
            <div class="container">
                <div class="section-header">
                    <h2 class="section-title text-center wow fadeInDown">Các tính năng miễn phí</h2>
                </div>
                <div class="portfolio-items">
                    <div class="portfolio-item creative">
                        <div class="portfolio-item-inner">
                            <img class="img-responsive" src="images/portfolio/01.jpg" alt="">
                            <div class="portfolio-info">
                                <h3><a href="images/portfolio/full.jpg">Tìm kiếm học bồng toàn phần</a></h3> Tìm kiếm học bổng một cách chính xác, nhanh chóng và dễ dàng.
                                <a class="preview" href="images/portfolio/full.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </div>
                    <!--/.portfolio-item-->
                    <div class="portfolio-item creative">
                        <div class="portfolio-item-inner">
                            <img class="img-responsive" src="images/portfolio/01.jpg" alt="">
                            <div class="portfolio-info">
                                <h3><a href="images/portfolio/full.jpg">Tìm kiếm học bồng toàn phần</a></h3> Tìm kiếm học bổng một cách chính xác, nhanh chóng và dễ dàng.
                                <a class="preview" href="images/portfolio/full.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </div>
                    <!--/.portfolio-item-->
                    <div class="portfolio-item creative">
                        <div class="portfolio-item-inner">
                            <img class="img-responsive" src="images/portfolio/01.jpg" alt="">
                            <div class="portfolio-info">
                                <h3><a href="images/portfolio/full.jpg">Tìm kiếm học bồng toàn phần</a></h3> Tìm kiếm học bổng một cách chính xác, nhanh chóng và dễ dàng.
                                <a class="preview" href="images/portfolio/full.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </div>
                    <!--/.portfolio-item-->
                    <div class="portfolio-item creative">
                        <div class="portfolio-item-inner">
                            <img class="img-responsive" src="images/portfolio/01.jpg" alt="">
                            <div class="portfolio-info">
                                <h3><a href="images/portfolio/full.jpg">Tìm kiếm học bồng toàn phần</a></h3> Tìm kiếm học bổng một cách chính xác, nhanh chóng và dễ dàng.
                                <a class="preview" href="images/portfolio/full.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </div>
                    <!--/.portfolio-item-->
                </div>
            </div>
            <!--/.container-->
        </section>
        <!--/#portfolio-->
        <div class="section_toanphan" style="padding-top:100px ">
            <div class="container">
                <div class="section-header">
                    <h2 class="section-title text-center wow fadeInDown">Các học bổng toàn phần mới cập nhật</h2>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <!-- Product -->
                        <div class="shop-item">
                            <!-- Product Image -->
                            <div class="image">
                                <a href="page-product-details.html"><img src="img/product1.jpg" alt="Item Name"></a>
                            </div>
                            <!-- Product Title -->
                            <div class="title">
                                <h3><a href="page-product-details.html">522 Scholarships in United Kingdom</a></h3>
                            </div>
                            <div class="description">
                                <p> <strong>Master</strong></p>
                            </div>
                            <div class="description">
                                <p> <strong>Hardvard</strong></p>
                            </div>
                            <div class="description">
                                <p> <strong>CNTT</strong></p>
                            </div>
                            <div class="description">
                                <p> <strong>Deadline: <span class="text-danger" >28 - 02 - 2017 </span></strong></p>
                            </div>
                            <div class="description">
                                <p>The University was founded as Leicestershire and Rutland University College in 1921. The site for the university was donated by a local textile manufacturer, Thomas Fielding Johnson, in order to create a living memorial for those who lost their lives in First World War.</p>
                            </div>
                        </div>
                        <!-- End Product -->
                    </div>
                    <div class="col-sm-4">
                        <!-- Product -->
                        <div class="shop-item">
                            <!-- Product Image -->
                            <div class="image">
                                <a href="page-product-details.html"><img src="img/product1.jpg" alt="Item Name"></a>
                            </div>
                            <!-- Product Title -->
                            <div class="title">
                                <h3><a href="page-product-details.html">522 Scholarships in United Kingdom</a></h3>
                            </div>
                            <div class="description">
                                <p> <strong>Master</strong></p>
                            </div>
                            <div class="description">
                                <p> <strong>Hardvard</strong></p>
                            </div>
                            <div class="description">
                                <p> <strong>CNTT</strong></p>
                            </div>
                            <div class="description">
                                <p> <strong>Deadline: <span class="text-danger" >28 - 02 - 2017 </span></strong></p>
                            </div>
                            <div class="description">
                                <p>The University was founded as Leicestershire and Rutland University College in 1921. The site for the university was donated by a local textile manufacturer, Thomas Fielding Johnson, in order to create a living memorial for those who lost their lives in First World War.</p>
                            </div>
                        </div>
                        <!-- End Product -->
                    </div>
                    <div class="col-sm-4">
                        <!-- Product -->
                        <div class="shop-item">
                            <!-- Product Image -->
                            <div class="image">
                                <a href="page-product-details.html"><img src="img/product1.jpg" alt="Item Name"></a>
                            </div>
                            <!-- Product Title -->
                            <div class="title">
                                <h3><a href="page-product-details.html">522 Scholarships in United Kingdom</a></h3>
                            </div>
                            <div class="description">
                                <p> <strong>Master</strong></p>
                            </div>
                            <div class="description">
                                <p> <strong>Hardvard</strong></p>
                            </div>
                            <div class="description">
                                <p> <strong>CNTT</strong></p>
                            </div>
                            <div class="description">
                                <p> <strong>Deadline: <span class="text-danger" >28 - 02 - 2017 </span></strong></p>
                            </div>
                            <div class="description">
                                <p>The University was founded as Leicestershire and Rutland University College in 1921. The site for the university was donated by a local textile manufacturer, Thomas Fielding Johnson, in order to create a living memorial for those who lost their lives in First World War.</p>
                            </div>
                        </div>
                        <!-- End Product -->
                    </div>
                </div>
            </div>
        </div>
        <section id="meet-team">
            <div class="container">
                <div class="section-header">
                    <h2 class="section-title text-center wow fadeInDown">Meet The Team</h2>
                    <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                            <div class="team-img">
                                <img class="img-responsive" src="images/team/01.jpg" alt="">
                            </div>
                            <div class="team-info">
                                <h3>Bin Burhan</h3>
                                <span>Co-Founder</span>
                            </div>
                            <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="100ms">
                            <div class="team-img">
                                <img class="img-responsive" src="images/team/02.jpg" alt="">
                            </div>
                            <div class="team-info">
                                <h3>Jane Man</h3>
                                <span>Project Manager</span>
                            </div>
                            <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="200ms">
                            <div class="team-img">
                                <img class="img-responsive" src="images/team/03.jpg" alt="">
                            </div>
                            <div class="team-info">
                                <h3>Pahlwan</h3>
                                <span>Designer</span>
                            </div>
                            <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
                            <div class="team-img">
                                <img class="img-responsive" src="images/team/04.jpg" alt="">
                            </div>
                            <div class="team-info">
                                <h3>Nasir uddin</h3>
                                <span>UI/UX</span>
                            </div>
                            <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--/#meet-team-->
        <section id="portfolio">
            <div class="container">
                <div class="section-header">
                    <h2 class="section-title text-center wow fadeInDown">Các tính năng tính phí</h2>
                </div>
                <div class="portfolio-items">
                    <div class="portfolio-item creative">
                        <div class="portfolio-item-inner">
                            <img class="img-responsive" src="images/portfolio/01.jpg" alt="">
                            <div class="portfolio-info">
                                <h3><a href="images/portfolio/full.jpg">Tìm kiếm học bồng toàn phần</a></h3> Tìm kiếm học bổng một cách chính xác, nhanh chóng và dễ dàng.
                                <a class="preview" href="images/portfolio/full.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </div>
                    <!--/.portfolio-item-->
                    <div class="portfolio-item creative">
                        <div class="portfolio-item-inner">
                            <img class="img-responsive" src="images/portfolio/01.jpg" alt="">
                            <div class="portfolio-info">
                                <h3><a href="images/portfolio/full.jpg">Tìm kiếm học bồng toàn phần</a></h3> Tìm kiếm học bổng một cách chính xác, nhanh chóng và dễ dàng.
                                <a class="preview" href="images/portfolio/full.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </div>
                    <!--/.portfolio-item-->
                    <div class="portfolio-item creative">
                        <div class="portfolio-item-inner">
                            <img class="img-responsive" src="images/portfolio/01.jpg" alt="">
                            <div class="portfolio-info">
                                <h3><a href="images/portfolio/full.jpg">Tìm kiếm học bồng toàn phần</a></h3> Tìm kiếm học bổng một cách chính xác, nhanh chóng và dễ dàng.
                                <a class="preview" href="images/portfolio/full.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </div>
                    <!--/.portfolio-item-->
                    <div class="portfolio-item creative">
                        <div class="portfolio-item-inner">
                            <img class="img-responsive" src="images/portfolio/01.jpg" alt="">
                            <div class="portfolio-info">
                                <h3><a href="images/portfolio/full.jpg">Tìm kiếm học bồng toàn phần</a></h3> Tìm kiếm học bổng một cách chính xác, nhanh chóng và dễ dàng.
                                <a class="preview" href="images/portfolio/full.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </div>
                    <!--/.portfolio-item-->
                </div>
            </div>
            <!--/.container-->
        </section>
        <!--/#portfolio-->
        <section id="animated-number">
            <div class="container">
                <div class="section-header">
                    <h2 class="section-title text-center wow fadeInDown">Thống kê</h2>
                    <p class="text-center wow fadeInDown">Thống kê danh sách học bổng</p>
                </div>
                <div class="row text-center">
                    <div class="col-sm-3 col-xs-6">
                        <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                            <div class="animated-number" data-digit="2305" data-duration="1000"></div>
                            <strong>Tổng số học bổng</strong>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="100ms">
                            <div class="animated-number" data-digit="1231" data-duration="1000"></div>
                            <strong>Số người nhận được học bổng</strong>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="200ms">
                            <div class="animated-number" data-digit="308" data-duration="1000"></div>
                            <strong>Số nghành được cấp học bổng</strong>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
                            <div class="animated-number" data-digit="25" data-duration="1000"></div>
                            <strong>Số quốc gia cấp học bổng</strong>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--/#animated-number-->
        <section id="blog">
            <div class="container">
                <div class="section-header">
                    <h2 class="section-title text-center wow fadeInDown">Tin tức về chúng tôi</h2>
                    <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="blog-post blog-large wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="0ms">
                            <article>
                                <header class="entry-header">
                                    <div class="entry-thumbnail">
                                        <img class="img-responsive" src="images/blog/01.jpg" alt="">
                                        <span class="post-format post-format-video"><i class="fa fa-film"></i></span>
                                    </div>
                                    <div class="entry-date">25 November 2014</div>
                                    <h2 class="entry-title"><a href="#">While now the fated Pequod had been so long afloat this</a></h2>
                                </header>
                                <div class="entry-content">
                                    <P>With a blow from the top-maul Ahab knocked off the steel head of the lance, and then handing to the mate the long iron rod remaining, bade him hold it upright, without its touching off the steel head of the lance, and then handing to the mate the long iron rod remaining. without its touching off the steel without its touching off the steel</P>
                                    <a class="btn btn-primary" href="#">Read More</a>
                                </div>
                                <footer class="entry-meta">
                                    <span class="entry-author"><i class="fa fa-pencil"></i> <a href="#">Victor</a></span>
                                    <span class="entry-category"><i class="fa fa-folder-o"></i> <a href="#">Tutorial</a></span>
                                    <span class="entry-comments"><i class="fa fa-comments-o"></i> <a href="#">15</a></span>
                                </footer>
                            </article>
                        </div>
                    </div>
                    <!--/.col-sm-6-->
                    <div class="col-sm-6">
                        <div class="blog-post blog-media wow fadeInRight" data-wow-duration="300ms" data-wow-delay="100ms">
                            <article class="media clearfix">
                                <div class="entry-thumbnail pull-left">
                                    <img class="img-responsive" src="images/blog/02.jpg" alt="">
                                    <span class="post-format post-format-gallery"><i class="fa fa-image"></i></span>
                                </div>
                                <div class="media-body">
                                    <header class="entry-header">
                                        <div class="entry-date">01 December 2014</div>
                                        <h2 class="entry-title"><a href="#">BeReviews was a awesome envent in dhaka</a></h2>
                                    </header>
                                    <div class="entry-content">
                                        <P>With a blow from the top-maul Ahab knocked off the steel head of the lance, and then handing to the steel</P>
                                        <a class="btn btn-primary" href="#">Read More</a>
                                    </div>
                                    <footer class="entry-meta">
                                        <span class="entry-author"><i class="fa fa-pencil"></i> <a href="#">Campbell</a></span>
                                        <span class="entry-category"><i class="fa fa-folder-o"></i> <a href="#">Tutorial</a></span>
                                        <span class="entry-comments"><i class="fa fa-comments-o"></i> <a href="#">15</a></span>
                                    </footer>
                                </div>
                            </article>
                        </div>
                        <div class="blog-post blog-media wow fadeInRight" data-wow-duration="300ms" data-wow-delay="200ms">
                            <article class="media clearfix">
                                <div class="entry-thumbnail pull-left">
                                    <img class="img-responsive" src="images/blog/03.jpg" alt="">
                                    <span class="post-format post-format-audio"><i class="fa fa-music"></i></span>
                                </div>
                                <div class="media-body">
                                    <header class="entry-header">
                                        <div class="entry-date">03 November 2014</div>
                                        <h2 class="entry-title"><a href="#">Play list of old bangle  music and gajal</a></h2>
                                    </header>
                                    <div class="entry-content">
                                        <P>With a blow from the top-maul Ahab knocked off the steel head of the lance, and then handing to the steel</P>
                                        <a class="btn btn-primary" href="#">Read More</a>
                                    </div>
                                    <footer class="entry-meta">
                                        <span class="entry-author"><i class="fa fa-pencil"></i> <a href="#">Ruth</a></span>
                                        <span class="entry-category"><i class="fa fa-folder-o"></i> <a href="#">Tutorial</a></span>
                                        <span class="entry-comments"><i class="fa fa-comments-o"></i> <a href="#">15</a></span>
                                    </footer>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="get-in-touch">
            <div class="container">
                <div class="section-header center-block">
                    <h2 class="section-title text-center wow fadeInDown">Học bổng Thạc sĩ - Tiến sĩ</h2>
                    <div class="carousel-content center-block">
                        <h2>Học bổng Thạc sĩ Tiến sĩ</h2>
                        <p>
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="exampleInputAmount">Chọn bậc học </label>
                                <div class="input-group">
                                    <select class="form-control">
                                        <option>Thạc sỹ</option>
                                        <option>Tiến sỹ</option>
                                        <option>Khác</option>
                                    </select>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Tìm học bổng ngay</button>
                        </form>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!--/#get-in-touch-->
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        &copy; 2014 Your Company. Designed by <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">ShapeBootstrap</a>
                    </div>
                    <div class="col-sm-6">
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!--/#footer-->
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/mousescroll.js"></script>
        <script src="js/smoothscroll.js"></script>
        <script src="js/jquery.prettyPhoto.js"></script>
        <script src="js/jquery.isotope.min.js"></script>
        <script src="js/jquery.inview.min.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/main.js"></script>
    </body>

</html>
