<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Nguồn học bổng</title>
        <!-- core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="css/animate.min.css" rel="stylesheet">
        <link href="css/owl.carousel.css" rel="stylesheet">
        <link href="css/owl.transitions.css" rel="stylesheet">
        <link href="css/prettyPhoto.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">
        <link href="css/responsive.css" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="images/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
    </head>
    <!--/head-->

    <body id="home" class="homepage">
        <header id="header">
            <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo"></a>
                    </div>
                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="scroll"><a href="#features">Về chúng tôi</a></li>
                            <li class="scroll"><a href="#services">Khám phá học bổng toàn phần</a></li>
                            <li class="scroll"><a href="#portfolio">Bài trắc nghiệm cá nhân</a></li>
                            <li class="scroll"><a href="#about">Các dịch vụ thu phí</a></li>
                        </ul>
                    </div>
                </div>
                <!--/.container-->
            </nav>
            <!--/nav-->
        </header>

        <div class="container">
            <div class="row" style="margin-top: 20px;margin-bottom: 20px">
                <div class="col-md-7">
                    <div class="form-group">
                        <input  class="form-control" type="text" value="" style="width: 80%" placeholder="Nhập thông tin cần search ở đây"    >
                    </div>

                </div>
                <div class="col-md-5">
                    <div class="form-group form-inline  pull-right">
                        <label  style="margin-right:10px">Sort </label>
                        <select class="form-control ">
                            <option>By date possted</option>
                            <option>By date possted</option>

                        </select>

                    </div>

                </div>
            </div>
            <div class="row " style="border:#ccc 1px solid;padding:10px">
                <div class="row">
                    <div class="col-md-2">

                        <label >Tìm kiếm học bổng</label>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label >Quốc gia</label><br>
                            <select id="country" multiple="multiple" class ="form-control" name="country">
                                <option>Việt Nam</option>
                                <option>Anh</option>
                                <option>Singapore</option>
                                <option>Hoa kỳ</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">

                        <div class="form-group">
                            <label >Trường</label><br>
                            <select id="schools"  class ="form-control" name="schools" >
                                <option value="cheese">Cheese</option>
                                <option value="tomatoes">Tomatoes</option>
                                <option value="mozarella">Mozzarella</option>
                                <option value="mushrooms">Mushrooms</option>
                                <option value="pepperoni">Pepperoni</option>
                                <option value="onions">Onions</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label >Nghành học</label><br>
                            <select id="brand" multiple="multiple" class ="form-control" name="brand" >
                                <option>Công nghệ thông tin</option>
                                <option>Kế toán</option>

                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label > </label>

                        </div>
                        <label >Clear All</label>
                    </div>
                </div>

                <div class="row"  style=" padding-left:15px">
                    <div class="col-md-4  col-md-offset-2">
                        <div class="row">
                            <div class="form-group">
                                <label >Bậc học</label>
                            </div>
                        </div>
                        <div class="row">
                            <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox1" value="option1"  > Thạc sỹ
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox1" value="option1"  > Thạc sỹ

                            </label>
                        </div>

                        <div class="row">
                            <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox1" value="option1"  > Thạc sỹ
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox1" value="option1"  > Thạc sỹ
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox1" value="option1"  > Thạc sỹ
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="form-group">
                                <label >Hạn nộp hồ sơ</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">   
                                <div class="form-group">
                                    <label >Từ ngày</label>


                                    <div class='input-group date' id='datetimepicker1'>
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>


                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label >Đến ngày</label>
                                    <div class='input-group date' id='datetimepicker2'>
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-2">
                        <button type="button" class="btn btn-danger  btn-lg">Apply Filter</button>
                    </div>
                </div>
            </div>  
            <div class="row"  style="border:#ccc 1px solid;padding:10px;margin-top: 20px;margin-bottom: 20px"  >
                <div  class="col-md-2">
                    <img class="img-responsive" src="images/blog/02.jpg" alt="">
                </div>
                <div class="col-md-8">
                    <h3 class="entry-title"><a href="#">BeReviews was a awesome envent in dhaka</a></h3>
                    <P><span class="glyphicon glyphicon-hand-right" style="padding-right: 10px"></span>Trường Đại học fpt</P>
                    <P><span class="glyphicon glyphicon-hand-right" style="padding-right: 10px"></span>Trường Đại học fpt</P>
                    <P><span class="glyphicon glyphicon-hand-right" style="padding-right: 10px"></span>Trường Đại học fpt</P>
                </div>
                <div  class="col-md-2">
                    <div class="row" style="width:100%;min-height:100px;border:#ccc 1px solid;padding: 20px">
                        <p class="text-center  text-success">Sẽ hết hạn trong 100 ngày</p>
                    </div>
                    <div class="row" style="margin-top: 15px;">
                        <a class="btn btn-primary" href="#">Read More</a>
                    </div>
                </div>
            </div>

            <div class="row"  style="border:#ccc 1px solid;padding:10px;margin-top: 20px;margin-bottom: 20px"  >
                <div  class="col-md-2">
                    <img class="img-responsive" src="images/blog/02.jpg" alt="">
                </div>
                <div class="col-md-8">
                    <h3 class="entry-title"><a href="#">BeReviews was a awesome envent in dhaka</a></h3>
                    <P><span class="glyphicon glyphicon-hand-right" style="padding-right: 10px"></span>Trường Đại học fpt</P>
                    <P><span class="glyphicon glyphicon-hand-right" style="padding-right: 10px"></span>Trường Đại học fpt</P>
                    <P><span class="glyphicon glyphicon-hand-right" style="padding-right: 10px"></span>Trường Đại học fpt</P>
                </div>
                <div  class="col-md-2">
                    <div class="row" style="width:100%;min-height:100px;border:#ccc 1px solid;padding: 20px">
                        <p class="text-center  text-danger"><strong>Đã Hết hạn</strong></p>
                    </div>
                    <div class="row" style="margin-top: 15px;">
                        <a class="btn btn-primary" href="#">Read More</a>
                    </div>
                </div>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>
        <!--/.container-->

        <section id="get-in-touch">
            <div class="container">
                <div class="section-header center-block">
                    <h2 class="section-title text-center wow fadeInDown">Học bổng Thạc sĩ - Tiến sĩ</h2>
                    <div class="carousel-content center-block">
                        <h2>Học bổng Thạc sĩ Tiến sĩ</h2>
                        <p>
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="exampleInputAmount">Chọn bậc học </label>
                                <div class="input-group">
                                    <select class="form-control">
                                        <option>Thạc sỹ</option>
                                        <option>Tiến sỹ</option>
                                        <option>Khác</option>
                                    </select>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Tìm học bổng ngay</button>
                        </form>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        &copy; 2014 Your Company. Designed by <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">ShapeBootstrap</a>
                    </div>
                    <div class="col-sm-6">
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!--/#footer-->
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/bootstrap-datepicker.min.js"></script>

        <link href="js/bootstrap-datepicker3.css" rel="stylesheet">
        <script type="text/javascript">

            $(function () {
                $('#datetimepicker1').datepicker({
                    format: 'dd/mm/yyyy',
                    todayHighlight: true,
                    autoclose: true,
                });
                $('#datetimepicker2').datepicker({
                    format: 'dd/mm/yyyy',

                    todayHighlight: true,
                    autoclose: true,
                });
            });
        </script>
        <script type="text/javascript" src="js/bootstrap-multiselect.js"></script>
        <link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css"/>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#country').multiselect();
                $('#brand').multiselect();
            });
        </script>

    </body>

</html>
